body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

@font-face {
  font-family: 'Unageo';
  src: url('/fonts/Unageo/ttf/Unageo-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Unageo';
  src: url('/fonts/Unageo/ttf/Unageo-Light-Italic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Unageo';
  src: url('/fonts/Unageo/ttf/Unageo-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Unageo';
  src: url('/fonts/Unageo/ttf/Unageo-Regular-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Unageo';
  src: url('/fonts/Unageo/ttf/Unageo-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Unageo';
  src: url('/fonts/Unageo/ttf/Unageo-Medium-Italic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Unageo';
  src: url('/fonts/Unageo/ttf/Unageo-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Unageo';
  src: url('/fonts/Unageo/ttf/Unageo-Semibold-Italic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Unageo';
  src: url('/fonts/Unageo/ttf/Unageo-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Unageo';
  src: url('/fonts/Unageo/ttf/Unageo-Bold-Italic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Unageo';
  src: url('/fonts/Unageo/ttf/Unageo-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Unageo';
  src: url('/fonts/Unageo/ttf/Unageo-Black-Italic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Unageo';
  src: url('/fonts/Unageo/ttf/Unageo-Extrabold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Unageo';
  src: url('/fonts/Unageo/ttf/Unageo-Extrabold-Italic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'SalonikiaVKF';
  src: url('/fonts/salonikia_VKF/SalonikiaVKF.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Atsalia';
  src: url('/fonts/atsalia/Atsalia.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
